src/automation/n8n_workflows/04_voice_assistant.json
{
  "name": "AI Synthesizer - Voice Assistant",
  "nodes": [
    {
      "parameters": {
        "path": "voice",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Voice Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "voice-assistant"
    },
    {
      "parameters": {
        "functionCode": "// Parse voice request\nconst body = $input.first().json.body || $input.first().json;\nconst text = body.text;\nconst voice = body.voice || 'rachel';\nconst action = body.action || 'speak';\n\nif (!text && action === 'speak') {\n  throw new Error('Missing text for speech');\n}\n\nreturn [{\n  json: {\n    text: text,\n    voice: voice,\n    action: action,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse_request",
      "name": "Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "equals",
              "value2": "speak"
            }
          ]
        }
      },
      "id": "check_action",
      "name": "Action Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/voice/speak",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "voice",
              "value": "={{ $json.voice }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "generate_speech",
      "name": "Generate Speech",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/assistant/chat",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.text }}"
            },
            {
              "name": "use_voice",
              "value": "true"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "chat_response",
      "name": "Chat & Respond",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 400]
    },
    {
      "parameters": {
        "functionCode": "// Prepare response with timing\nconst result = $input.first().json;\nconst startTime = new Date($('Parse Request').item.json.timestamp);\nconst duration = Date.now() - startTime.getTime();\n\nreturn [{\n  json: {\n    success: true,\n    audio_url: result.audio_url || result.audio_path,\n    text: result.text || result.message,\n    duration_ms: duration,\n    voice: $('Parse Request').item.json.voice\n  }\n}];"
      },
      "id": "prepare_response",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Voice Webhook": {
      "main": [
        [{"node": "Parse Request", "type": "main", "index": 0}]
      ]
    },
    "Parse Request": {
      "main": [
        [{"node": "Action Type", "type": "main", "index": 0}]
      ]
    },
    "Action Type": {
      "main": [
        [{"node": "Generate Speech", "type": "main", "index": 0}],
        [{"node": "Chat & Respond", "type": "main", "index": 0}]
      ]
    },
    "Generate Speech": {
      "main": [
        [{"node": "Prepare Response", "type": "main", "index": 0}]
      ]
    },
    "Chat & Respond": {
      "main": [
        [{"node": "Prepare Response", "type": "main", "index": 0}]
      ]
    },
    "Prepare Response": {
      "main": [
        [{"node": "Send Response", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["synthesizer", "voice", "assistant"]
}
